<!DOCTYPE HTML>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
	</head>
	<body>
		<nav>
			<ol>
				{% if user %}
					<li><a href="/users/logout/">Logout</a></li>
					<li><a href="/users/profile/">Your Profile ({{ user.firstName }}) - Not working</a></li>
				{% else %}
					<li><a href="/users/">Inloggen</a></li>
				{% endif %}
			</ol>
		</nav>
	
		<section id="mainsection">
			{% block content %} This page is intentionnaly left blank {% endblock %}
		</section>
	</body>
</html>
