[Database]
module=barabas.database.sqldatabase
constructor=create_postgresql
;constructor=create_mysql

host=thehost
name=database_name
username=username
password=username_password
;Port is not required if running on default port (5432 for Postgres, 3306 for MySQL)
;port=5432



[Storage]
module=barabas.simplestoragemanager
constructor=SimpleStorageManager

path=datafiles/

; Storage example for S3 (this replaces previous section)
;[Storage]
;module=barabas.amazon
;constructor=S3StorageManager
;key=YOURAWSKEY
;secret=YOURAWSSECRET
;bucket=bucketname
;location=

[Server]
listen_address=0.0.0.0
listen_port=2188
data_port=2189

public_ip=127.0.0.1
; For hosts running on Amazon EC2: (comment previous line)
;public_ip_module=barabas.amazon
;public_ip_function=get_public_ipv4
